.header__search {
  position: relative;
  border-bottom: 2px solid #00b3be;
  display: inline-table;
  width: 25%;
  padding-top: 3vh;
}
.button {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 3vh;
  cursor: pointer;
}
.input, .button {
  background-color: #fff;
  border-style: none;
  outline: none;
}
.input {
  padding-left: 15px; width: 100%;
}

@media screen and (max-width: 426px) {
  .header__search {
    width: 100%;
  }
}