.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* .content__box {
  height: 80vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .content__box {
    justify-content: space-evenly;
  }
}
 @media screen and (max-width: 426px) {
   .content__box {
     height: 67vh;
   }
 } */
