.box__product {
  position: relative;
  height: 230px;
  }
  .product__img {
    height: 225px;
    width: 320px;
    position: relative;
  }
  .product__img img{
    padding-top: 5%;
    width: 100%;
    height: auto;
  }
  .product__title {
    display: flex;
    justify-content: space-between;
    background-color: #00b3be;
    margin-top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height:30px;
  }
  .title__text {
    padding: 5px;
    color: #fff;
  }
  .title__icon {
    padding: 5px;
  }
  